
@import url(http://fonts.googleapis.com/css?family=Ruda:400,900,700);

/* OVERALL ASPECT */

body {
    background-color: #000000;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.goleft {
	text-align: left;
}

/* Links */
a {
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/**/
.icon{
	color:#000000;	
}


a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
	font-size: 14px;
}

.navbar-fixed-top {
border-width: 0 0 0px;
border-bottom-width: 0px;
}
#abstract{
    margin-top: 20px;
}
.title2{
    margin-top:40px;
    font-weight: 900;
    font-family: Georgia, "微软雅黑", STXihei, "华文细黑", serif;
    font-size: 40px;
    color:#000000
}
.titleimg{
    position: absolute;
    margin-left: 450px;
}
.listhref{
    color:#000000;
    font-weight: normal;
}
.listhref:hover{
    text-decoration:underline;
}
.blue{
    background-color:#00bfff;
}
.red{
    background-color:#ff5050;   
}