{% extends "base.html" %}
{% block content %}
<!-- main -->
<div class="row divider">
    <p class="col-sm-10" style = "margin-top:40px">
        <a href="{% url 'home' %}" style="font-weight: 900;font-family: 'Ruda', sans-serif;font-size: 40px;color:#000000">Way 2 Passadena</a>
        </p>
    <p class="col-sm-9">Talk is cheap. Show me the code.</p>
    <div class="col-sm-9"><hr style="max-width:1260px;width:115%;margin-top:-20px"></div>
</div>

{% for post in post_list %}
<div class="row">    
    <div class="col-sm-10">
        <h3><a href="{% url 'detail' id=post.id %}" style="color:black;">{{ post.title }}</a></h3>
        <h4 id="{{ post.id }}*catbox"><i class="fa fa-tags" style="color: #a6a6a6">&nbsp&nbsp</i></h4>
            <script>
                var catList = "{{ post.category }}".split(",")
                catList.sort()
                var content = ''
                for (var i = 0; i < catList.length; i++ )
                    content += '<span class="label label-default"><a href=\"/tags/' + catList[i] + "\" class='tag_href'>" + catList[i] + '</a></span>&nbsp&nbsp';
                document.getElementById("{{ post.id }}*catbox").innerHTML += content
            </script>
        <h4>
            <small class="text-muted">{{ post.date_time |date:'Y/m/d h:m'}}</small>
        </h4>
        <p id='{{ post.id }}abstract'>{{ post.content }}</p>
        <script>
            document.getElementById("{{ post.id }}abstract").innerHTML = document.getElementById("{{ post.id }}abstract").innerHTML.substring(0,100) + "...&nbsp&nbsp"
        </script>
    </div> 
</div>
<div class="row divider" style="margin-top: -20px">  
    <div class="col-sm-9">
        <a href="{% url 'detail' id=post.id %}" class="text-muted" style="float: left;">Read More>></a>  
        <hr style="max-width:1260px;width:115%"></div>
</div>

{% endfor %}

<!-- /main -->
{% endblock %}